/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.special-heading {
    padding: 70px;
    text-align: center;
    font-size: 50px;
}
body {
    font-family: 'Mooli', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container {
    margin-left: auto;
    margin-right: auto;
}
/* End Global Rules */
/* Start Header */
header {
    padding: 20px;
    position: relative;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
header a {
    text-decoration: none;
    font-size: 30px;
    color: #bbbbbb;
}
header .toggle-menu {
    font-size: 27px;
    position: relative;
    top: 1px;
}
header .toggle-menu:hover {
    color: rgba(243,159,64,255);
    cursor:pointer;
}
header .toggle-menu:hover + .links {
    display: block;
}
header .container .link {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
header .container .link li {
    margin-right: 35px;
}
header .container .link li a {
    font-size: 18px;
    color: black;
}
header .container .link li a.active {
    color: rgba(243,159,64,255);
}
header .container .link li a:hover {
    color: rgba(243,159,64,255);
}
/* End Header */
/* Start Home-Page */
.home-page {
    height: 748px;
    color: white;
    margin-top: 5px;
    background-color: black;
    background-image: url(../images/fgfg-min.jpg);
    background-size:cover;
    background-position: 50% 50%;
    position: relative;
}
.home-page .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 45%);
}
.home-page .content {
    background-color: transparent;
    width: 80%;
    color: black;
    position: absolute;
    top: 20%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home-page .content img {
    width: 150px;
    margin-bottom: 20px;
    animation: scale-up-tl;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both;
}
.scale-up-tl {
	-webkit-animation: scale-up-tl 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
	animation: scale-up-tl 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}
@-webkit-keyframes scale-up-tl {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
}
@keyframes scale-up-tl {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
}

.home-page .text {
    padding: 20px;
    width: 53%;
    text-align: center;
    background-color: transparent;
    margin-bottom: 30px;
    animation: scale-up-center ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.home-page .text p:first-child {
    font-size: 60px;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}
.home-page .text p:last-child {
    color: #eee;
    font-size: 20px;
    line-height: 1.6;
}
.home-page button {
    text-align: center;
    width: 188px;
    height: 56px;
    border: 2px solid white;
    border-radius: 28px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: transparent;
    cursor: pointer;
    animation: scale-up-center ease-in 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.home-page button:hover {
    color: black;
    background-color: white;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.9s ease-in alternate both;
	animation: scale-up-center 0.9s ease-in alternate both;
}
@-webkit-keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
/* End Home-Page */